.Button{
    background-color: #f5f6f7 !important;
    background-image: linear-gradient(#fff, #f5f6f7) !important;
    border-color: #b4bcc1 !important;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-sizing: border-box;
    color: #0067af !important;
    cursor: pointer !important;
    display: inline-block;
    font-family: inherit;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    height: 1.875rem !important;
    line-height: 1.75rem !important;
    margin: 0 5px 0 0;
    min-height: 1.75rem !important;
    padding-bottom: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 0 !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    vertical-align: middle !important;
    white-space: nowrap;
}
.template-gallery {
    border: 1px solid #d8dde0;
    display: block;
    margin-bottom: 0.75rem;
    margin-left: -1px;
    width: 100%;
    height: 250px;
}
.theme-wrapper{
    background-color: #fff;
    border: 1px solid #d8dde0;
    border-radius: 2px;
    float: left;
    margin: 0 1rem 1rem 0;
    padding: 0.75rem;
    width: 200px;
}
.preview-modal-title .modal-title{
    display: contents;
}
.preview-gallery{
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width:100%;
}
// .MuiCheckbox-colorSecondary.Mui-checked{
//     color: green !important;
// }