.employee-screen {
  .invalid-feedback {
		display: block;
		width: 100%;
		margin-top: 0.25rem;
		font-size: 0.71rem;
		color:#f86c6b;
	  }
    .card-header {
      color: #2064d8;
    }
    .btn-group {
      .btn {
        color: #ffffff !important;
      }
    }
    .badge {
      padding: 0.4em 0.6em;
      font-size: 90%;
    }
    .mobileNumberCSS{
      .invalid-feedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.71rem;
        color:#f86c6b;
        }

      .form-control:disabled,
    
      .form-control[readonly]
    
       { background-color: white!important;
    
    }
    
    .react-tel-input
    
    .form-control{
    
      border: 0px !important;
      margin-top: 2px !important;
    }
    
    .react-tel-input
    
     .flag-dropdown{border:0px !important}
    
    .react-tel-input
    
    .selected-flag
    
    .arrow
    
    {border-left: 0px !important;
    
       border-right: 0px !important;}
    
    .react-tel-input
    
    .form-control
    
    {width: 180px !important;}
    
    }
}