.create-employee-screen {
    .card-header {
      color: #2064d8;
    }
    .total-item {
      border-bottom: 1px solid #ccc;
    }
  }
  .react-datepicker-wrapper{
    // width: 100%;
  }
  .DateInput_input{
    padding: 5px !important;
    font-size:15px !important;
  } 
  .is-invalid{
    border-color: red;
  }

  .DateRangePickerInput__withBorder {
    border: 1px solid #dbdbdb !important;
  }
  .startError .DateRangePickerInput__withBorder {
    border: 1px solid red !important;
  }