.log-in-screen {
	.card-header {
		border-bottom: 0px;
	}
	.logo-container {
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 67%;
		}
	}
	background-color: #ffffffc7;

	 .nav-tabs .nav-link
				{
					// border-top-left-radius: 1.25rem !important;
					// border-top-right-radius: 1.25rem !important;
					// border-bottom-left-radius: 1.25rem !important;
					// border-bottom-right-radius: 1.25rem !important;
					border-radius: 50% !important;
					border: grey solid 0.5px !important;
					
				}	
				
    .nav-pills .nav-link{
					margin: 30px;
				.h4{
						margin: 0 !important;
				}
				}
	.nav-link{
					padding: 10px 25px;;
				}
				.react-datepicker-wrapper{
					width: 100% !important;
				}
				.rounded-left{
					border-top-right-radius: 5.25rem !important;
				}
				.tab-content {
					border: solid #c8ced3 0.1px;
				}
}
.forgot-password-modal {
	max-width: 40%;
	transform: translate(0, -50%) !important;
	top: 50%;
	transition: transform 10s;
}
.r-btn {
	margin-top: 10px;
	cursor: pointer;
}
.r-btn span {
	font-size: 16px;
	color: #54e0c4;
	font-weight: 700;
	margin-top: 10px;
}
.main-banner_container{
	position: relative;
    left: 0;
    top: 0;
}
.login_banckground{
	position: relative;
    top: 0px;
    left: 0;
	float: left;
	width: auto;
  max-width: 1000px;
  height: auto;
  max-height: 100%;
}
.login_banner{
	position: absolute;
    top: 60px;
    left: 0;
	float: left;
	margin-left: 4%;
}
.password-icon {
	position: absolute;
	top: 41px;
	right: 41px;
	cursor: pointer;
	color: grey;
  }
  
  .lockSideBorder{
	border-left: #afc9ed 0.1px solid;
	border-right: #afc9ed 0.1px solid;
  }