.create-employee-screen {
    .card-header {
      color: #2064d8;
    }
    .total-item {
      border-bottom: 1px solid #ccc;
    }
  }
  .react-datepicker-wrapper{
    width: 100%;
  }

  
.payroll-List .react-bs-table.react-bs-table-bordered thead th:first-child input{
  position: absolute;
  margin-top: -51px;
  border: none;
}
.payroll-List .react-bs-table.react-bs-table-bordered thead th:first-child{
  border: none;
}