// If you want to override variables do it here
@import 'variables';

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import '~@coreui/coreui-pro/scss/coreui.scss';

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui-pro/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import 'custom';

// ie fixes
@import 'ie-fix';

// temp fixes
@import 'fixes';

// Spinkit
$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';

.card-header {
	color: #6a4bc4 !important;
}
.btn-primary,
.page-item.active .page-link,
.btn-square {
	background-color: #54e0c4;
	border-color: #54e0c4;
}
.btn-primary:disabled {
	background-color: #54e0c4;
	border-color: #54e0c4;
}
.btn-primary:hover,
.btn-square:hover {
	background-color: #6a4bc4;
	border-color: #6a4bc4;
}
.badge-primary {
	background-color: #6a4bc4;
}
.bank-account-screen .bank-account-table .my-link {
	color: #6a4bc4;
	text-decoration: underline;
}
.btn-secondary {
	color: #000;
	background-color: #c8ced3;
	border-color: #c8ced3;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #6a4bc4;
	border-color: #6a4bc4;
}
.breadcrumb-item {
	a {
		color: #6a4bc4 !important;
	}
}
.btn-brand {
	i {
		background-color: inherit;
	}
}
// .table {
// 	.icon {
// 		background-color: #6a4bc4;
// 	}
// }
.card-columns .card {
	margin-bottom: 1.5rem;
}
.btn-link {
	color: #6a4bc4;
}
.tab-content {
	border: none;
}
.nav-tabs .nav-link {
	border: none;
}
.card .nav-link {
	font-weight: 600;
}
// a {
// 	color: #6a4bc4 !important;
// }
.app-footer .text-primary {
	color: #6a4bc4 !important;
}
.btn-primary:focus,
.btn-primary.focus {
	background-color: #54e0c4 !important;
	border-color: #54e0c4 !important;
}
.transactions-report-screen .card-header {
	padding: 0.75rem 1.25rem !important;
}
.badge-info,
.badge-success {
	background-color: #6a4bc4;
}
.card-body th {
	font-weight: 600 !important;
}
.card-body .btn-square {
	border-radius: 40px !important;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
		0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
		0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
		0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03) !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.card-body .form-control:focus {
	border: 1px solid #6a4bc4 !important;
	box-shadow: none !important;
}
.invoice-detail {
	font-weight: 600;
}
